{
    "timeout": 10,
    "source": {
        "directories": [
            "src/Repository"
        ]
    },
    "logs": {
        "text": "var/log/infection.log"
    },
    "mutators": {
        "@default": true
    }
}