<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

        <title>Météo Saint Sulpice | Données météo locale</title>

        <!-- Loading third party fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Loading main css file -->
        <link rel="stylesheet" href="/static/css/style.min.css">
        <link rel="stylesheet" href="/static/css/weather-icons.min.css">
        <link rel="stylesheet" href="/static/css/weather-icons-wind.min.css">

        <!--[if lt IE 9]>
        <script src="/static/js/ie-support/html5.js"></script>
        <script src="/static/js/ie-support/respond.js"></script>
        <![endif]-->

        <link rel="icon" type="image/png" href="/static/images/favicon.png" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86136866-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-86136866-1');
        </script>
    </head>

    <body>
    {% block body %}
        <div id="root"></div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/weather.js"></script>
    {% endblock %}
    </body>
</html>